{% extends "base.html" %}

{% block title %}О магазине{% endblock %}

{% block content %}
    <div class="container">
        <h3>Страница "О магазине" пока в разработке</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ab mollitia ullam veritatis dicta libero? Tenetur neque deserunt porro nihil, autem quidem beatae inventore laudantium a quia omnis excepturi amet?
        Dolores provident qui amet molestias beatae sint molestiae minima iure, voluptatum et laboriosam, error repellendus eveniet quod in ipsum blanditiis nobis veritatis consectetur vero. Similique maiores nostrum eligendi ipsum atque?
        Perferendis blanditiis provident, nulla dignissimos eos nostrum suscipit alias, a ipsum, quas assumenda quos modi! Magni numquam, omnis nisi recusandae sed sit quaerat id dolorem exercitationem fugit nam quas consectetur!
        Tenetur ratione aperiam quas laborum suscipit neque magnam quae, nam molestias itaque impedit consectetur excepturi dolorem doloribus debitis iste perferendis nemo, aliquam deleniti! Laborum maiores molestiae cum neque debitis impedit.
        Illum quam nam, neque consequatur ipsa tenetur dolorem esse earum cum amet ea consectetur obcaecati maxime optio a recusandae quod, adipisci rem explicabo voluptatibus? Dicta eius repellat maxime esse quod.
        Tenetur, ad iusto. Perspiciatis veritatis, unde non beatae eius sunt perferendis consequuntur blanditiis at obcaecati sed tenetur voluptates fugit sint? Fugit et molestias illum voluptatibus sapiente dolor laboriosam repellendus maxime.
        Tempore asperiores impedit sint delectus cumque neque minus harum molestias recusandae ipsam iure beatae deleniti earum sequi provident eveniet facere, tenetur animi nihil molestiae cum architecto ullam optio? Ab, possimus.
        Corrupti debitis necessitatibus dicta ad, beatae autem tempora error hic cupiditate, maiores animi magnam numquam possimus! Voluptatem perferendis, et consectetur laudantium praesentium exercitationem ratione. Corporis itaque quibusdam corrupti autem numquam!
        Voluptate voluptatem ducimus, laboriosam fugit accusantium nam! Similique, velit consectetur eius ullam laborum nesciunt iure ratione commodi expedita tempora optio nisi. Error, cum. Deleniti minus quos blanditiis incidunt magni quibusdam!
        Minima voluptate beatae ex neque nemo ratione aliquid aliquam dolorum provident iure. Omnis odio sit, distinctio facere porro illo quaerat non unde doloremque est autem eveniet dolores quisquam corporis fugit!</p>
    </div>
{% endblock %}