{% extends "base.html" %}

{% block title %}О магазине{% endblock %}

{% block content %}
    <div class="container">
        <div class="topic_heading">
            <h1 class="pagetitle">«Зоомагазин» является магазином для домашних питомцев</h1>
        </div>					
	    <p>
            Основное направление деятельности интернет-магазина «Зоомагазин» — продажа товаров для домашних животных. Мы предоставляем своим покупателям большой ассортимент качественных кормов и аксессуаров, низкие цены и отличный сервис. В каталоге найдется продукция для собак, кошек, птиц, грызунов и даже рептилий. Мы работаем, чтобы ваши питомцы наслаждались комфортом!
        </p>
        <p>
            Компания «Зоомагазин» — самый крупный профильный интернет-магазин в Москве. Делая заказы у нас, вы избежите ненужных трат и избавитесь от забот, связанных с содержанием животных в городской квартире.
        </p>
        <p>
            Преимущества компании
        </p>
        <p>
            У нас организовано самое большое количество точек для самовывоза в Московской области — всего их 28. А еще вас порадуют:
        </p>
        <ul class="disc">
            <li>
                низкие цены; 
            </li>
            <li>
                постоянное наличие на складе товаров, присутствующих в каталоге; 
            </li>
            <li>
                доставка в день заказа (от 499 рублей); 
            </li>
            <li>
                постоянные акции, которые позволяют дополнительно экономить. 
            </li>
        </ul>
        <p>
            Осуществляем доставку по Москве в день заказа прямо до двери. Покупать у нас — это удобно: мы привезем товары в удобный для Вас интервал времени.
        </p>
        <p>
            Позвоните или напишите, и менеджеры компании оперативно ответят Вам — мы на связи до 19.00 каждый день! С нами покупать питание и аксессуары для питомцев станет намного проще и удобнее, а главное — дешевле.
        </p>
        <p>
            Наш интернет-магазин знает все о том, что нужно вашим хвостатым друзьям!
        </p>
    </div>
{% endblock %}