{% extends "base.html" %}

{% block title %}Категории{% endblock %}

{% block content %}
    <div class="container">
        <h2>Категории</h2>
        <ul class="product-list">
            {% for category in categories %}
                <li class="product-item">
                    <a href="{% url 'core:catalog' %}?category_id={{ category.pk }}">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" width="100">
                    </a>
                    <h3>{{ category.name }}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}