{% extends "base.html" %}
{% block title %}Каталог{% endblock %}
{% block content %}
<div class="container product-page">
    <div class="product-top">

        <div class="product-image">
            <div class="product-image-top">
                {% if product.has_discount %}
                <span class="discount-badge2">-{{ product.get_top_discount_percent }}%</span>
                {% endif %}
            </div>
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>

        <h1 class="product-name">{{ product.name }}</h1>

        <div class="product-side">
            {% if product.has_discount %}
            <p class="original-price">{{ product.price }} ₽</p>
            <p class="product-price discounted-price">{{ product.discounted_price }} ₽</p>
            {% else %}
            <p class="product-price">{{ product.price }} ₽</p>
            {% endif %}
            <form action="{% url 'cart:add_to_cart' product.id %}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <button type="submit" class="add-to-cart-btn">В Корзину</button>
            </form>
        </div>

    </div>

    <div class="product-description">
        <h3>Описание</h3>
        <p>{{ product.description }}</p>
    </div>
</div>
{% endblock %}