{% extends "base.html" %}
{% block title %}Избранное{% endblock %}
{% block content %}
<div class="container wishlist">
    <a class="back-link" href="{% url 'catalog:catalog' %}">← Вернуться в каталог</a>
    <h1>Избранное</h1>
    {% if items %}
    <form class="clear-form-wishlist" method="post" action="{% url 'wishlist:clear_wishlist' %}">
        {% csrf_token %}
        <button type="submit">Очистить избранное</button>
    </form>
    <ul class="product-list">
        {% for item in items %}
            {% with product=item.product %}
                {% include 'modules/compactProductView.html' %}
            {% endwith %}
        {% endfor %}
    </ul>
    {% else %}
    <p class="empty">Вы ещё ничего не добавили в избранное.</p>
    {% endif %}
</div>
{% endblock %}